body {
  background-color: aquamarine;

}

#quote-box {
  text-align: center;
  background-color: antiquewhite;
  padding: 20px;
  width: 400px;
  margin: 200px auto;

}

#new-quote {
  margin: 50px;
}

#new-tweet {
  margin: 50px;
}
